<!DOCTYPE html>
<html lang="en">

<head>
  <title>Show Poll</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap" rel="stylesheet">


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>
<header>
  <nav>
    <span class="span">Decision Maker</span>
  </nav>
</header>
<body>
  <form class="form-inline" action="/vote/new" method="POST" id="pollForm">
    <input type="hidden" name="pollId" value="<%= pollId %>">
    <div class="container">
      <h2><%= question %></h2>
      <ul id="<%=pollId%>">
        <% for(let choice of choices) { %>
          <li>
            <input class="vote" type="radio" id="<%= choice %>" name="selector">
            <label for="<%= choice %>" ><%= choice %></label>
            <div class="check"><div class="inside"></div></div>
            <output name="rank" for="<%= choice %>"></output>
          </li>
          <% } %>
        </ul>
        <div>
          <button class="vote_button" type="submit">VOTE</button>
        </div>
      </div>
    </form>
  </body>
 </html>
<!-- <header>
  <div class="header">
    <h1>Please rank your options!</h1>
  </div>
  <h2>Please rank the following options from 3 (highest) to 1 (lowest)</h2>
</header>
<main>
  <form method="post" action="/">
    <div>
      <button type="submit">Submit!</button>
    </div>
  </form>
</main>

</body>

</html> -->
